<form data-dojo-attach-point="newGroupForm" onsubmit="return false;">
    <div class="form-group" data-dojo-attach-point="groupNameNode" style="display:none">
        <label for="${id}-groupname" data-dojo-attach-point="nls">createGroupname</label>
        <input id="${id}-groupname" type="text" class="form-control"
               data-dojo-attach-point="nls,groupnameInput"
               placeholder="createGroupnamePlaceholder"/>
    </div>
    <p class="alert alert-danger" style="display: none" data-dojo-attach-point="groupnameError"></p>
    <div class="form-group">
        <label for="${id}-fullname" data-dojo-attach-point="nls">createFullname</label>
        <input id="${id}-fullname" type="text" class="form-control"
               data-dojo-attach-point="nls,fullnameInput" placeholder="createFullnamePlaceholder"/>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-dojo-attach-point="nls,createContextWithGroup"/>
                <div data-dojo-attach-point="nls" style="display: inline">createContextWithGroup
                </div>
            </label>
        </div>
    </div>
</form>