<div>
  <div class="col1hidden col3hidden entryRow" data-dojo-attach-point="rowNode">
    <div class="flex-wrapper">
      <div class="entryRowCol1 vmiddle" data-dojo-attach-point="col1Node">
        <div class="dropdown">
          <div id="${id}_roleMenu" data-dojo-attach-point="roleNode" class="btn btn-default ${bid}__role" data-toggle="dropdown">
            <span class="${bid}__roleMenuIcon" data-dojo-attach-point="roleIcon"></span>
            <span class="caret" data-dojo-attach-point="dropdownIcon"></span>
          </div>
          <ul class="${bid}__roleMenu dropdown-menu" aria-labelledby="${id}_roleMenu">
            <li>
              <a data-dojo-attach-event="onclick:manager">
                        <span class="fa fa-shield pull-left ${bid}__roleIcon" ></span>
                        <span class="${bid}__roleText" data-dojo-attach-point="managerNode"></span>
                    </a>
            </li>
            <li>
              <a data-dojo-attach-event="onclick:member">
                        <span class="fa fa-user pull-left ${bid}__roleIcon" ></span>
                        <span class="${bid}__roleText" data-dojo-attach-point="memberNode"></span>
                    </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="entryName vmiddle" data-dojo-attach-point="col2Node">
        <span data-dojo-attach-point="nameNode"></span>
        <a data-dojo-attach-point="nameNodeLink"></a>
      </div>
    </div>

    <div>
      <div class="entryRowCol3 vmiddle" data-dojo-attach-point="col3Node"></div>
      <div class="entryControls vmiddle" data-dojo-attach-point="buttonsNode"></div>
    </div>
  </div>
</div>
