<div>
    <div class="form-group">
        <input type="text" class="form-control" data-dojo-attach-point="nls,nameInput" placeholder="setNamePlaceholder"/>
    </div>
    <p class="alert" style="display: none" data-dojo-attach-point="nameMessage"></p>
</div>