<form data-dojo-attach-point="newUserForm" onsubmit="return false;">
    <div class="form-group">
        <label for="${id}-username" data-dojo-attach-point="nls">createUsername</label>
        <input id="${id}-username" type="email" class="form-control"
               data-dojo-attach-point="nls,usernameInput" placeholder="createUsernamePlaceholder"/>
    </div>
    <p class="alert alert-danger" style="display: none" data-dojo-attach-point="usernameError"></p>
    <div class="form-group">
        <label for="${id}-firstname" data-dojo-attach-point="nls">createFirstname</label>
        <input id="${id}-firstname" type="text" class="form-control"
               data-dojo-attach-point="nls,firstnameInput"
               placeholder="createFirstnamePlaceholder"/>
    </div>
    <div class="form-group">
        <label for="${id}-lastname" data-dojo-attach-point="nls">createLastname</label>
        <input id="${id}-lastname" type="text" class="form-control"
               data-dojo-attach-point="nls,lastnameInput" placeholder="createLastnamePlaceholder"/>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-dojo-attach-point="nls,createContextWithUser"/>
                <div data-dojo-attach-point="nls" style="display:inline">createContextWithUser</div>
            </label>
        </div>
    </div>
</form>