<div class="userName">
    <div class="form-group">
        <label data-dojo-attach-point="nls">currentUsernameLabel</label>
        <input type="text" class="form-control" disabled data-dojo-attach-point="currentUserName"/>
    </div>
    <div class="form-group">
        <label for="${id}-username" data-dojo-attach-point="nls">changeUsernameLabel</label>
        <input id="${id}-username" type="email" class="form-control" data-dojo-attach-point="nls,usernameInput" placeholder="changeUsernamePlaceholder"/>
    </div>
    <p class="alert alert-danger" style="display: none" data-dojo-attach-point="usernameError"></p>
</div>